{% extends "base.html" %}
{% block title %}
    {{ username |safe }}'s profile
{% endblock %}
{% block main %}
<h1 class='center'> {{ username |safe }} </h1>
<p id="follower_count" class='center'>Followers: {{follower_count}}</p>
{% if username != session["account"] %}
<div class='center fbb_box'>
<button id = "follow_button" onclick = "send_self('{% if is_follower == False %}follow{% else %}unfollow{% endif %}', '{{username}}')">{% if is_follower != False %}Un{% endif %}Follow</button>
<button id = "block_button" onclick = "send_self('{% if is_blocked == False %}block{% else %}unblock{% endif %}', '{{username}}')">{% if is_blocked != False %}Un{% endif %}Block</button>
</div>
{% endif %}
<div class="posts">
{% for post in posts %}
<article id="{{post[0] | safe}}" class="post">
    <p>{{ post[1] | safe}}</p>
    <p>{{ post[2] | safe }}</p>
   <div class='post_info'> <div id='likes_{{post[0]}}' onclick='change("likes", "{{post[0]}}", "posts")'><span class="fa-solid fa-thumbs-up{% if post[5] and user_id in post[5] %} interacted{% endif %}"></span><p> {{ post[6] }} </p></div> <div id='dislikes_{{post[0]}}' onclick='change("dislikes", "{{post[0]}}", "posts")'><span class="fa-solid fa-thumbs-down{% if post[3] and user_id in post[3] %} interacted{% endif %}"></span><p> {{ post[7] }} </p></div><div id='comments_{{post[0]}}' onclick="window.location.href='/post/{{post[0]}}'"><span class="fa-solid fa-comments"></span> <p id='comments'> {{ post[8] }} </p></div></div>
</article>
{% endfor %}
</div>
<script>
function send_self(verb, recipient) {
    document.getElementById("follow_button").onclick=""
    document.getElementById("block_button").onclick=""
    console.log(recipient);
    const formData = new FormData();
    formData.append('action', verb);
    formData.append('recipient', recipient);
    fetch('/profile_connections', {
        method: 'POST',
        body: formData,
    });
    location.reload();
    location.reload();
    //two reloads to make sure it actually works
}

function change(action, thing_id, table) {
    const post = document.getElementById(action+"_"+thing_id);
    const children = post.childNodes;
    console.log(children)
    const icon = children[0];
    const count = children[1];
    let sign = 0;
    let value = 0;
    icon.classList.toggle("interacted");
    
    if ("interacted" == icon.classList[(icon.classList["length"]-1)]){
        sign = 1;
    } else {
        sign = -1;
    };
    value = String(Number(count.textContent) + sign);
    count.textContent = " " + value + " ";
    const formData = new FormData();
    formData.append('action', action);
    formData.append('thing_id', thing_id);
    formData.append('sign', sign);
    formData.append('value', value);
    formData.append('table', 'posts');
    fetch('/interactions', {
        method: 'POST',
        body: formData,
    });
    //two reloads to make sure it actually works
    
};




</script>
</script>
{% endblock %}
